.mainContainer {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .inputButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }
  
  .inputButton:hover {
    background-color: #0056b3;
  }
  